<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{title}</title>
<link rel="stylesheet" th:href="@{/common.css}"/>
<script th:src="@{/jquery-3.4.1.min.js}"></script>
<script th:src="@{/commonService.js}"></script>
</head>
<body >
    <div class="top" style="background:#fff;width:100%;position:fixed;top:0;left:0;line-height:2em;z-index:999">
        <span></span>
    </div>
    
    <aside style="background:#fff;width:300px;padding-left:25px;float:right">
      <div class="link_box">
          <a href="#">回到桌面</a>
      </div>
    </aside>
    
    <main>
      <table cellspacing="0">
        <thead>
          <tr>
{columnTitle}
          </tr>
        </thead>
        <tbody>
          <tr th:each="obj:${resultList}">
{columnInfo}
          </tr>
        </tbody>
      </table>
    </main>

</body>
</html>