<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//MYBATIS.org//DTD Mapper 3.0//EN" "http://MYBATIS.org/dtd/MYBATIS-3-mapper.dtd" >
<mapper namespace="com.application.dao.ServantRepository" >
  <resultMap id="ServantResultMap" type="com.application.model.Servant" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="IMG_NAME" property="imgName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="CLASS_TYPE" property="classType" jdbcType="VARCHAR" />
    <result column="HERO_TYPE" property="heroType" jdbcType="VARCHAR" />
    <result column="EVENT_FLAG" property="eventFlag" jdbcType="VARCHAR" />
    <result column="HP" property="hp" jdbcType="INTEGER" />
    <result column="ATTACT" property="attact" jdbcType="INTEGER" />
    <result column="SKILL_1" property="skill1" jdbcType="VARCHAR" />
    <result column="SKILL_2" property="skill2" jdbcType="VARCHAR" />
    <result column="SKILL_3" property="skill3" jdbcType="VARCHAR" />
    <result column="SKILL_EXTRA" property="skillExtra" jdbcType="VARCHAR" />
    <result column="EXTRA_TYPE" property="extraType" jdbcType="VARCHAR" />
    <result column="EXTRA_COLOR" property="extraColor" jdbcType="VARCHAR" />
    <result column="LIMIT_LEVEL" property="limit" jdbcType="INTEGER" />
    <result column="TRAITS" property="traits" jdbcType="VARCHAR" />
    <result column="TEAM" property="team" jdbcType="INTEGER" />
    <result column="FAVORITE" property="favorite" jdbcType="VARCHAR" />
    <result column="RANK" property="rank" jdbcType="VARCHAR" />
    <result column="CREATE_DATETIME" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="select_column_list">
    SERVANT.ID
    ,SERVANT.IMG_NAME
    ,SERVANT.NAME
    ,SERVANT.NICK_NAME
    ,SERVANT.CLASS_TYPE
    ,SERVANT.HERO_TYPE
    ,SERVANT.EVENT_FLAG
    ,SERVANT.HP
    ,SERVANT.ATTACT
    ,SERVANT.SKILL_1
    ,SERVANT.SKILL_2
    ,SERVANT.SKILL_3
    ,SERVANT.SKILL_EXTRA
    ,SERVANT.EXTRA_TYPE
    ,SERVANT.EXTRA_COLOR
    ,SERVANT.LIMIT_LEVEL
    ,SERVANT.TRAITS
    ,SERVANT.TEAM
    ,SERVANT.FAVORITE
    ,SERVANT.RANK
    ,SERVANT.CREATE_DATETIME
    ,SERVANT.UPDATE_DATETIME
  </sql>

  <select id="selectOneById" resultMap="ServantResultMap">
    SELECT
      <include refid="select_column_list"></include>
    FROM 
      SERVANT 
    WHERE
      ID = #{id}
  </select>

</mapper>

